/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
h1 {
    font-size: 50px;
    line-height: 55px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}
h2 {
    font-size: 35px;
    color: #1d1d1b;
    margin: 0 0 30px;
}
h3 {
    font-size: 35px;
    font-weight: 300;
    color: #1d1d1b;
    margin: 30px 0;
    line-height: 45px;
}
h5 {
    font-size: 20px;
    line-height: 20px;
    color: #1d1d1b;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
p {
    font-size: 16px;
    color: #1d1d1b;
}
/*
 * Remove underline on anchor hover
 */
 a:hover {
   text-decoration: none;  
 }
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   HEADER STYLES
   ========================================================================== */   
.navbar {
    padding: 15px 0;
    border:none;
    border-radius: 0;
    margin: 0;
    background-color: #fff;
}
.navbar-brand {
    display: block;
    min-height: 120px;
}
.navbar-default .navbar-nav li a {
    color: #99a1a7;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: #1d1d1b;
    background-color: transparent;
}
.navbar-default .navbar-nav li.current a {
    color: #1d1d1b;
}
/* ==========================================================================
   SLIDER STYLES
   ========================================================================== */
.slider-section {
    margin-bottom: 40px;
}
.slider-section img {
    margin: 0 auto;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li {
    background-color: #edf1f4;
    border: none;
}
.carousel-indicators .active {
    background-color: #1d1d1b;
    border: none;
}
.carousel-caption {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: left;
    padding-top: 50px;
}
.carousel-caption p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 25px;
}
.title-block .text-right {
    float: right;
    margin: 10px 0 0;
}
.title-block .text-right li {
    float: left;
}
.title-block .text-right p {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-weight: 300;
    margin: 0px 0 0;
}
.title-block .text-right a {
    color: #fff;
}
/* ==========================================================================
   CONTENT SECTION
   ========================================================================== */
.content-section {
    padding: 50px 0;
}

h3 a {
    color: #1d1d1b;
}

/* ==========================================================================
   IMAGE THUMBNAIL STYLES
   ========================================================================== */
.img-thumb-section {
    margin: 45px 0;
}
.project-img-block img {
    margin: 0 auto 30px;
}
.project-img-block {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.project-img-block:hover {
    cursor: pointer;
}
.project-img-block:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    display: none;
    background: rgba(255, 255, 255, .6);
}
.project-img-block:hover:after {
    display: block;
}
.project-details {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    transition: all .5s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.project-img-block:hover .project-details {
    top: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.project-details p {
    font-weight: 300;
    color: #1d1d1b;
    margin: 0 0 20px;
    line-height: 1;
    padding: 0 30px;
}
.project-details .project-btn  {
    margin-top: 10px;
}
/* ==========================================================================
   FOOTER STYLES
   ========================================================================== */   

.footer {
    padding: 15px 0;
    background-color: #1d1d1b;
}
.footer p {
    font-size: 15px;
    margin: 0;
    color: #fff;
    line-height: 120px;
}

/* ==========================================================================
   PAGE TITLE STYLES
   ========================================================================== */   
.page-title-block {
    background-color: #edf1f4;
    padding: 55px 0;
}
.page-title-block h1, .page-title-block .title-block p, .page-title-block .title-block p a, .page-title-block .title-block p a:hover {
    color: #1d1d1b;
}
/* ==========================================================================
   PROJECT GALLEY STYLES
   ========================================================================== */
.project-gallery-block .nav-tabs {
    border: none;
    margin-bottom: 45px;
    text-align: center;
}
.nav-tabs li {
    display: inline-block;
    float: none;
}
.nav-tabs li a {
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 30px;
    border-radius: 6px;
    background: #edf1f4;
    color: #1d1d1b;
}
.nav-tabs li:nth-child(3) a {
    margin-right: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: #1d1d1b;
    border: none;
    color: #fff;
    font-weight: 700;

}
.list-points {
    margin: 10px 0;
    text-align: right;
}
.list-points span {
    float: left;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.semi-bold {
    font-weight: 600;   
}
.project-btn, .project-btn:hover, .project-btn:focus {
    font-weight: 700;
    color: #fff;
    background: #1d1d1b;
    border-color:#1d1d1b;
    border-radius: 6px;
}
/* ==========================================================================
   Responsive Styles
   ========================================================================== */
@media screen and (max-width: 1200px) {
    .footer p {
        line-height: 60px;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        padding: 0;
    }
    p br {
        display: none;
    }
    .carousel-caption .text-right {
        float: none;
    }
    .title-block .text-right {
        float: none;
    }
    .footer p {
        line-height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        min-height: 87px;
        max-width: 240px;
    }
    .navbar-toggle {
        margin-top: 32px;
    }
    .navbar-default .navbar-nav li a {
        line-height: 1;
    }
    .carousel-caption {
        padding-top: 15px;
    }
    .nav-tabs li {
        display: block;
    }
    .nav-tabs li a {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .page-title-block {
        padding: 15px 0;
    }
    h1 {
        font-size: 35px;
        line-height: 40px;
    }
    h2, h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .carousel-caption {
        position: relative;
        text-shadow: none;
    }
    .carousel-caption .title-block h1, .carousel-caption .title-block p, .carousel-caption .title-block p a {
        color: #1d1d1b;
    }
}
